#poster.page
  %h1 You are invited to Pigstravaganza!

  %h3#postponed Pigstravaganza Has Been Postponed Until Further Notice

  %h2
    When: May 29th, 20011
    %br/
    Where: 2709 McKee Rd (Michael's Place)

  %h3 What Happens At Pigstravaganza?

  %ul
    %li Pig Pickin'
    %li Home Brew
    %li Whiskey
    %li Music
    %li Games
    %li Camping

  %p
    Fun Starts @2PM
    \-
    Pickin' @6PM
    \-
    You are Welcome All Day &amp; Night!

  %h3 What should you bring?

  %ul
    %li
      Your Family
      %em (kids &amp; dogs welcome)
    %li
      Musical Instruments
      %em (guitar, banjo, fiddle, washboard yeah!)
    %li
      Camping Gear
      %em (sleeping bags, tent, etc.)
    %li
      Fun &amp; Games
      %em (whatever you would like to share!)

  %h3 R.S.V.P

  %p
    This party will take a lot of work &amp; I will
    need a log of help. Please let me know if you want
    to come &amp; if you would like to chip-in.

  %p
    OH WAIT...

  %p
    %strong Pigstravaganza!
    will be
    %em WAY
    cooler than this poster!
